/* Importando um estilo de fonte */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #609966;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

main{
    height: 50vh;
}

/* Configuração da fonte */
* {
    font-family:  'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
/*CONFIG NAVBAR*/
.navbar{
    position: sticky;
    top: 0;
}

.menu{
    display: flex;
    gap: 30px;   
}
.menu , .icones-menu{
    list-style: none;
}
.menu , .icones-menu , a {
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: underline;
    transition: 0,5s ease;
}
.menu:hover .icones-menu a{
    color: #EDF1D6;
}

.menu:hover .icones-menu a:not(:hover){
    color: black;
    opacity: 0,5;
    filter: blur(10px);
}

div{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: 	#609966;
    padding: 1rem;
}
.navegador{
    display: flex;
    justify-content: right;
}

.icones-menu{
    position: relative;
    display: block;
    transition: .5s;
}
.icones-menu::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scarleX(0);
    transform-origin: right;
}
.icones-menu:hover{
    color: #95a5a6;
}
.icones-menu:hover::after{
    transform: scaleX(1);
    transform-origin: left;
} 

/*CONFIG VIDEO/LOGO*/
.video1{
    text-align: center;
    height: 10px;
    position: relative;
}

.logo{
    top: 0px;
    width: 35%;
    height: 260%;
    position: absolute;
}
.logo video{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.title{
    margin-top: 1px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 100px;
    color: #fff;
    mix-blend-mode: multiply; 
}

footer{
    width: 100%;
    color: var(--color-neutral-40);
}

#footer_conteudo{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contatos h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media.footer-link:hover{
    opacity: 0.8;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#instagram{
    background:linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #426763;
}

#whatsapp{
    background-color: #25d366;
}

.footer-lista{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-lista .footer-link{
    color: 	#3CB371)
}

.footer-lista .footer-link:hover{
    color: #7f37c9;
}

#footer_email{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_email p{
    color: var(--color-neutral-40);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #40513B;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #ffffff;
    border: none;
    color: (var(--color-neutral-40));
    pad: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #40513B;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_conteudo {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }
}

.footer-link{
    color: #EDF1D6;

}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #e8f3e3 ;
}